In [1]:
#Tracoma soriting images
#So TF and TI are 1 than the image has both the trachoma stuff
#So TF 1 and TI 1 then image has only that
#If TF and TI are 0 then none

In [ ]:
#one to 1656

In [2]:
DATADIR = "/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall"

In [3]:
DATADIR = "/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaDatasettfti"

In [4]:
DATADIR = "/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/healthyEylid"

In [52]:
fileCSV = "/Users/swathikakarala/Desktop/Sirihaasa/tfti.csv"
#on desktop

In [53]:
import pandas as pd

In [158]:
allData =  pd.read_csv(fileCSV,
                       delimiter=',')
allData.head(20) #First 20 rows printed

    key  TF  TI  AddedValues  Paths
0     1   0   0            0    NaN
1     2   1   0            1    NaN
2     3   0   0            0    NaN
3     4   0   0            0    NaN
4     5   1   0            1    NaN
5     6   0   1            1    NaN
6     7   0   0            0    NaN
7     8   1   1            2    NaN
8     9   0   0            0    NaN
9    10   1   1            2    NaN
10   11   1   0            1    NaN
11   12   0   0            0    NaN
12   13   0   0            0    NaN
13   14   0   0            0    NaN
14   15   1   0            1    NaN
15   16   1   0            1    NaN
16   17   0   0            0    NaN
17   18   0   0            0    NaN
18   19   0   0            0    NaN
19   20   1   0            1    NaN

In [16]:
normal_path = '/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/healthyEylid'

In [15]:
tfti_path = '/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaDatasettfti'

In [78]:
healthyCSV = '/Users/swathikakarala/Desktop/Sirihaasa/healthyCSV.csv'

In [97]:
healthData =  pd.read_csv(healthyCSV,
                       delimiter=',')
healthData.head(20)

Empty DataFrame
Columns: [key, healthyPath]
Index: []

In [86]:
trachomafilesCSV = '/Users/swathikakarala/Desktop/Sirihaasa/trachoma.csv'

In [87]:
trachomafilesCSV  =  pd.read_csv(trachomafilesCSV ,
                       delimiter=',')
trachomafilesCSV .head(20)

Empty DataFrame
Columns: [key, trachomaTFTIPath]
Index: []

In [ ]:
#Add and put in new file

In [ ]:
#There will be 1, 2, and 0
#two means bohth of them, 
#1 menans oen of them 
#o mean healthy

In [134]:
allData.head(25)

    key  TF  TI  AddedValues  Paths
0     1   0   0            0    NaN
1     2   1   0            1    NaN
2     3   0   0            0    NaN
3     4   0   0            0    NaN
4     5   1   0            1    NaN
5     6   0   1            1    NaN
6     7   0   0            0    NaN
7     8   1   1            2    NaN
8     9   0   0            0    NaN
9    10   1   1            2    NaN
10   11   1   0            1    NaN
11   12   0   0            0    NaN
12   13   0   0            0    NaN
13   14   0   0            0    NaN
14   15   1   0            1    NaN
15   16   1   0            1    NaN
16   17   0   0            0    NaN
17   18   0   0            0    NaN
18   19   0   0            0    NaN
19   20   1   0            1    NaN
20   21   0   0            0    NaN
21   22   0   0            0    NaN
22   23   0   0            0    NaN
23   24   1   0            1    NaN
24   25   0   0            0    NaN

In [ ]:
#Now read in the values and get the key

In [ ]:
#add.jpg

In [160]:
allData.applymap(str)

       key TF TI AddedValues Paths
0        1  0  0           0   nan
1        2  1  0           1   nan
2        3  0  0           0   nan
3        4  0  0           0   nan
4        5  1  0           1   nan
...    ... .. ..         ...   ...
1651  1652  0  0           0   nan
1652  1653  0  0           0   nan
1653  1654  0  0           0   nan
1654  1655  0  0           0   nan
1655  1656  0  0           0   nan

[1656 rows x 5 columns]

In [142]:
#append the path: pathofOriginal+'/'+image[numberher].jpg 
pathofOriginal = '/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/image'

In [167]:
allData

,key,TF,TI,AddedValues,Paths
0,1,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1,2,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,3,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3,4,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4,5,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
...,...,...,...,...,...
1651,1652,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1652,1653,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1653,1654,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1654,1655,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1655,1656,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [ ]:
# allData['Paths']= '/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/image'+allData['key']

In [143]:
# allData['Paths'] = pathofOriginal+str(allData['key'])+'.jpg'

In [166]:
allData

,key,TF,TI,AddedValues,Paths
0,1,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1,2,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,3,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3,4,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4,5,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
...,...,...,...,...,...
1651,1652,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1652,1653,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1653,1654,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1654,1655,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1655,1656,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [145]:
#allData.to_csv(fileCSV, index = False)

In [163]:
allData['Paths'] = '/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/image'

In [169]:
allData

,key,TF,TI,AddedValues,Paths
0,1,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1,2,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,3,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3,4,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4,5,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
...,...,...,...,...,...
1651,1652,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1652,1653,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1653,1654,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1654,1655,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1655,1656,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [170]:
#Start over

In [171]:
allDataNew =  pd.read_csv(fileCSV,
                       delimiter=',')
allDataNew.head(20) #First 20 rows printed

    key  TF  TI  AddedValues  Paths
0     1   0   0            0    NaN
1     2   1   0            1    NaN
2     3   0   0            0    NaN
3     4   0   0            0    NaN
4     5   1   0            1    NaN
5     6   0   1            1    NaN
6     7   0   0            0    NaN
7     8   1   1            2    NaN
8     9   0   0            0    NaN
9    10   1   1            2    NaN
10   11   1   0            1    NaN
11   12   0   0            0    NaN
12   13   0   0            0    NaN
13   14   0   0            0    NaN
14   15   1   0            1    NaN
15   16   1   0            1    NaN
16   17   0   0            0    NaN
17   18   0   0            0    NaN
18   19   0   0            0    NaN
19   20   1   0            1    NaN

In [173]:
trail = allDataNew.applymap(str)

In [174]:
trail

       key TF TI AddedValues Paths
0        1  0  0           0   nan
1        2  1  0           1   nan
2        3  0  0           0   nan
3        4  0  0           0   nan
4        5  1  0           1   nan
...    ... .. ..         ...   ...
1651  1652  0  0           0   nan
1652  1653  0  0           0   nan
1653  1654  0  0           0   nan
1654  1655  0  0           0   nan
1655  1656  0  0           0   nan

[1656 rows x 5 columns]

In [305]:
trail['key'] = "image"+trail['key']+'.jpg'

In [306]:
trail

,key,TF,TI,AddedValues,Paths
0,imageimages1.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1,imageimages2.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,imageimages3.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3,imageimages4.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4,imageimages5.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
...,...,...,...,...,...
1651,imageimages1652.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1652,imageimages1653.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1653,imageimages1654.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1654,imageimages1655.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1655,imageimages1656.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [307]:
'/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/image'

'/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/image'

In [308]:
trail['Paths']='/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/'+ trail['key']

In [309]:
trail

,key,TF,TI,AddedValues,Paths
0,imageimages1.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1,imageimages2.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,imageimages3.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3,imageimages4.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4,imageimages5.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
...,...,...,...,...,...
1651,imageimages1652.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1652,imageimages1653.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1653,imageimages1654.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1654,imageimages1655.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1655,imageimages1656.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [310]:
trail.to_csv(fileCSV,index=False)

In [311]:
#trail
#If addevlaues are 0 then go to normal
#if addevalues are 1 or two the, greater than 0 go to trachoma

In [312]:
newera =  pd.read_csv(fileCSV,
                       delimiter=',')
newera.head(20) #First 20 rows printed

,key,TF,TI,AddedValues,Paths
0,imageimages1.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1,imageimages2.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,imageimages3.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3,imageimages4.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4,imageimages5.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
5,imageimages6.jpg.jpg,0,1,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
6,imageimages7.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
7,imageimages8.jpg.jpg,1,1,2,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
8,imageimages9.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
9,imageimages10.jpg.jpg,1,1,2,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
10,imageimages11.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
11,imageimages12.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
12,imageimages13.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
13,imageimages14.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
14,imageimages15.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
15,imageimages16.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
16,imageimages17.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
17,imageimages18.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
18,imageimages19.jpg.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
19,imageimages20.jpg.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [ ]:
#trachoma
/Users/swathikakarala/Desktop/Sirihaasa/trachoma.csv

In [ ]:
# trach = pd.read_csv('C:\\Users\\SateeshSwathi\\Documents\\leftCataracts.csv')
# t_name = trach[trach.labels=="['C']"]['name']  #Using the query method to search every individual column in in labels for N
# #Assigining the value 'name', which is a file path to n name, and putting it in this columns
# trach['Cataracts'] = t_name

# trach

In [188]:
newera['AddedValues'].values[7]

2

In [192]:
# i = 0
# for num in newera['AddedValues'].values[i]:
#     if num==0:
#         newera['Normalpaths'] = newera['Paths'].value[i]
#         i=i+1
#     else:
#         newera['trachomapaths'] = newera['Paths'].value[i]
#         i=i+1

TypeError: 'numpy.int64' object is not iterable

In [196]:
if newera['AddedValues'] == 0:
    newera['Normalpaths'] = newera['Paths']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [197]:
newera

,key,TF,TI,AddedValues,Paths,Normalpaths,trachomapaths
0,images1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
1,images2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
2,images3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
3,images4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
4,images5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
...,...,...,...,...,...,...,...
1651,images1652.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
1652,images1653.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
1653,images1654.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
1654,images1655.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
1655,images1656.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN

In [198]:
newera.head(20)

,key,TF,TI,AddedValues,Paths,Normalpaths,trachomapaths
0,images1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
1,images2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
2,images3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
3,images4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
4,images5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
5,images6.jpg,0,1,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
6,images7.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
7,images8.jpg,1,1,2,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
8,images9.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
9,images10.jpg,1,1,2,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
10,images11.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
11,images12.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
12,images13.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
13,images14.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
14,images15.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
15,images16.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
16,images17.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
17,images18.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
18,images19.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN
19,images20.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,NaN

In [212]:
index = 0
for num in newera['AddedValues'].values[index]:
    newera['AddedValues'].values[index].astype(numpy.int32)
    index=index+1;

TypeError: 'numpy.int64' object is not iterable

In [214]:
import numpy as np

In [218]:
type(newera['AddedValues'].values[0].astype(np.int32))

numpy.int32

In [220]:
type(newera['AddedValues'].astype(np.int32))

pandas.core.series.Series

In [ ]:
i = 0
for num in newera['AddedValues'].values[i]:
    
    if num==0:
        newera['Normalpaths'] = newera['Paths'].value[i]
        i=i+1
    else:
        newera['trachomapaths'] = newera['Paths'].value[i]
        i=i+1

In [199]:
newera['AddedValues'])

TypeError: cannot convert the series to <class 'int'>

In [206]:
type(int(newera['AddedValues'].values[0]))

int

TypeError: cannot convert the series to <class 'int'>

In [254]:
l = len(newera.key)

In [267]:
# index = 0
# while(index<l):
#     if newera['AddedValues'].values[index]==0:
#         newera['Normalpaths'] = newera['Paths'].values[index]
#         index = index+1

In [ ]:
newera

In [258]:
newera['Normalpaths'].values[0]

'/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/images1656.jpg'

In [259]:
if newera['trachomapaths'].values[0]==0:
    newera['trachomapaths'] = newer['Paths'].values

In [268]:
newera

,key,TF,TI,AddedValues,Paths,Normalpaths,trachomapaths
0,images1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1,images2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
2,images3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
3,images4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
4,images5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
...,...,...,...,...,...,...,...
1651,images1652.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1652,images1653.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1653,images1654.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1654,images1655.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1655,images1656.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN

In [264]:
newera['Normalpaths'].values[0]

'/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/images1656.jpg'

In [269]:

newera

,key,TF,TI,AddedValues,Paths,Normalpaths,trachomapaths
0,images1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1,images2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
2,images3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
3,images4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
4,images5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
...,...,...,...,...,...,...,...
1651,images1652.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1652,images1653.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1653,images1654.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1654,images1655.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1655,images1656.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN

In [271]:
trail

,key,TF,TI,AddedValues,Paths
0,images1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1,images2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,images3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3,images4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4,images5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
...,...,...,...,...,...
1651,images1652.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1652,images1653.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1653,images1654.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1654,images1655.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1655,images1656.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [289]:
newOne =  pd.read_csv(fileCSV,
                       delimiter=',')
newOne.head(20) #First 20 rows printed

,key,TF,TI,AddedValues,Paths,Normalpaths,trachomapaths
0,images1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
1,images2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,images3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
3,images4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
4,images5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
5,images6.jpg,0,1,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
6,images7.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
7,images8.jpg,1,1,2,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
8,images9.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
9,images10.jpg,1,1,2,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
10,images11.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
11,images12.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
12,images13.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
13,images14.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
14,images15.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
15,images16.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
16,images17.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
17,images18.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
18,images19.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN
19,images20.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,NaN,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [288]:
def separate(df):
    if df.AddedValues > 0:
        return df.Paths
    return
#Get paths function

In [285]:
newOne['trachomapaths'] = newOne[['AddedValues','Paths']].apply(separate, axis=1)
#Axis 1 = row, Axis 0 = column
newOne.Normalpaths = newOne[['AddedValues','Paths']].apply(lambda df: df.Paths if df.AddedValues==0 else '', axis=1)

In [282]:
newOne.head(20)

,key,TF,TI,AddedValues,Paths,Normalpaths,trachomapaths
0,images1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1,images2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,images3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
3,images4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
4,images5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
5,images6.jpg,0,1,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
6,images7.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
7,images8.jpg,1,1,2,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
8,images9.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
9,images10.jpg,1,1,2,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
10,images11.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
11,images12.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
12,images13.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
13,images14.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
14,images15.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
15,images16.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
16,images17.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
17,images18.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
18,images19.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
19,images20.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [292]:
newOne.to_csv(fileCSV,index= False)

In [ ]:
#Now to to get the data into the file
#Startgin with the healthy

In [293]:
healthyCSVPath = '/Users/swathikakarala/Desktop/Sirihaasa/healthyCSV.csv'

In [297]:
healthyCSVdf =  pd.read_csv(healthyCSVPath,
                       delimiter=',')
healthyCSVdf.head(20) #First 20 rows printed

                                          Normalpaths
0   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
5   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
6   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
7   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
8   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
9   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
10  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
11  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
12  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
13  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
14  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
15  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
16  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
17  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
18  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
19  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [294]:
healthyLoc = '/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/healthyEylid'

In [304]:
for i in healthyCSVdf.Normalpaths:
    with open(i, 'rb') as f: #REad the file path
        data = f.read() #REad and store
    with open(healthyLoc, 'wb') as f: #Write it as file, and append location
        f.write(data)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/images1.jpg'

In [316]:
new =  pd.read_csv(fileCSV,
                       delimiter=',')
new.head(20) #First 20 rows printed

    key  TF  TI  AddedValues  Paths  healthyPath  tPath
0     1   0   0            0    NaN          NaN    NaN
1     2   1   0            1    NaN          NaN    NaN
2     3   0   0            0    NaN          NaN    NaN
3     4   0   0            0    NaN          NaN    NaN
4     5   1   0            1    NaN          NaN    NaN
5     6   0   1            1    NaN          NaN    NaN
6     7   0   0            0    NaN          NaN    NaN
7     8   1   1            2    NaN          NaN    NaN
8     9   0   0            0    NaN          NaN    NaN
9    10   1   1            2    NaN          NaN    NaN
10   11   1   0            1    NaN          NaN    NaN
11   12   0   0            0    NaN          NaN    NaN
12   13   0   0            0    NaN          NaN    NaN
13   14   0   0            0    NaN          NaN    NaN
14   15   1   0            1    NaN          NaN    NaN
15   16   1   0            1    NaN          NaN    NaN
16   17   0   0            0    NaN          NaN    NaN
17   18   0   0            0    NaN          NaN    NaN
18   19   0   0            0    NaN          NaN    NaN
19   20   1   0            1    NaN          NaN    NaN

In [324]:
new = new.applymap(str)

In [325]:
new['key'] = "image"+new['key']+'.jpg'

In [326]:
new

                key TF TI AddedValues Paths healthyPath tPath
0        image1.jpg  0  0           0   nan         nan   nan
1        image2.jpg  1  0           1   nan         nan   nan
2        image3.jpg  0  0           0   nan         nan   nan
3        image4.jpg  0  0           0   nan         nan   nan
4        image5.jpg  1  0           1   nan         nan   nan
...             ... .. ..         ...   ...         ...   ...
1651  image1652.jpg  0  0           0   nan         nan   nan
1652  image1653.jpg  0  0           0   nan         nan   nan
1653  image1654.jpg  0  0           0   nan         nan   nan
1654  image1655.jpg  0  0           0   nan         nan   nan
1655  image1656.jpg  0  0           0   nan         nan   nan

[1656 rows x 7 columns]

In [ ]:
def separate(df):
    if df.AddedValues > 0:
        return df.Paths
    return
#Get paths function

In [328]:
new['trachomapaths'] = new[['AddedValues','Paths']].apply(separate, axis=1)
#Axis 1 = row, Axis 0 = column
new.Normalpaths = new[['AddedValues','Paths']].apply(lambda df: df.Paths if df.AddedValues==0 else '', axis=1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [330]:
new['AddedValues'] = new['AddedValues'].astype(int)

In [331]:
new

                key TF TI  AddedValues Paths healthyPath tPath
0        image1.jpg  0  0            0   nan         nan   nan
1        image2.jpg  1  0            1   nan         nan   nan
2        image3.jpg  0  0            0   nan         nan   nan
3        image4.jpg  0  0            0   nan         nan   nan
4        image5.jpg  1  0            1   nan         nan   nan
...             ... .. ..          ...   ...         ...   ...
1651  image1652.jpg  0  0            0   nan         nan   nan
1652  image1653.jpg  0  0            0   nan         nan   nan
1653  image1654.jpg  0  0            0   nan         nan   nan
1654  image1655.jpg  0  0            0   nan         nan   nan
1655  image1656.jpg  0  0            0   nan         nan   nan

[1656 rows x 7 columns]

In [332]:
new['Paths']='/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaoverall/'+ new['key']

In [333]:
new

,key,TF,TI,AddedValues,Paths,healthyPath,tPath
0,image1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan
1,image2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan
2,image3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan
3,image4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan
4,image5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan
...,...,...,...,...,...,...,...
1651,image1652.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan
1652,image1653.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan
1653,image1654.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan
1654,image1655.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan
1655,image1656.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,nan,nan

In [334]:
new['tPath'] = new[['AddedValues','Paths']].apply(separate, axis=1)
#Axis 1 = row, Axis 0 = column
new.healthyPath = new[['AddedValues','Paths']].apply(lambda df: df.Paths if df.AddedValues==0 else '', axis=1)

In [335]:
new

,key,TF,TI,AddedValues,Paths,healthyPath,tPath
0,image1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1,image2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,image3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
3,image4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
4,image5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
...,...,...,...,...,...,...,...
1651,image1652.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1652,image1653.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1653,image1654.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1654,image1655.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1655,image1656.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None

In [337]:
new.to_csv(fileCSV,
                       index=False)

In [338]:
new

,key,TF,TI,AddedValues,Paths,healthyPath,tPath
0,image1.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1,image2.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2,image3.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
3,image4.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
4,image5.jpg,1,0,1,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...
...,...,...,...,...,...,...,...
1651,image1652.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1652,image1653.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1653,image1654.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1654,image1655.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None
1655,image1656.jpg,0,0,0,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,/Users/swathikakarala/Desktop/Sirihaasa/Indepe...,None

In [340]:
healty = '/Users/swathikakarala/Desktop/Sirihaasa/healthyCSV.csv'

In [344]:
hel =  pd.read_csv(healty,
                       delimiter=',')
hel.head(20) #First 20 rows printed

                                          healthyPath
0   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
5   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
6   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
7   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
8   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
9   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
10  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
11  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
12  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
13  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
14  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
15  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
16  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
17  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
18  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
19  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [366]:
healthyLoc = '/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/healthyEylid/'

In [367]:
for i in hel.healthyPath:
    with open(i, 'rb') as f: #REad the file path
        data = f.read() #REad and store
    # get fine name
    img = i.split('/')[-1]
    with open(healthyLoc+img, 'wb') as f: #Write it as file, and append location
        f.write(data)

In [358]:
for i in hel.healthyPath:
    print(i)

image1.jpg
image3.jpg
image4.jpg
image7.jpg
image9.jpg
image12.jpg
image13.jpg
image14.jpg
image17.jpg
image18.jpg
image19.jpg
image21.jpg
image22.jpg
image23.jpg
image25.jpg
image26.jpg
image29.jpg
image30.jpg
image31.jpg
image33.jpg
image34.jpg
image37.jpg
image44.jpg
image46.jpg
image48.jpg
image49.jpg
image53.jpg
image54.jpg
image55.jpg
image56.jpg
image57.jpg
image58.jpg
image59.jpg
image61.jpg
image62.jpg
image63.jpg
image65.jpg
image66.jpg
image67.jpg
image68.jpg
image72.jpg
image74.jpg
image75.jpg
image76.jpg
image78.jpg
image79.jpg
image80.jpg
image81.jpg
image85.jpg
image86.jpg
image87.jpg
image88.jpg
image89.jpg
image90.jpg
image91.jpg
image94.jpg
image95.jpg
image96.jpg
image97.jpg
image98.jpg
image100.jpg
image102.jpg
image106.jpg
image108.jpg
image109.jpg
image110.jpg
image111.jpg
image112.jpg
image113.jpg
image114.jpg
image118.jpg
image119.jpg
image120.jpg
image122.jpg
image124.jpg
image126.jpg
image129.jpg
image134.jpg
image135.jpg
image136.jpg
image141.jpg
image142.jpg
image144.jpg
image145.jpg
image146.jpg
image150.jpg
image153.jpg
image155.jpg
image156.jpg
image157.jpg
image158.jpg
image159.jpg
image160.jpg
image161.jpg
image162.jpg
image163.jpg
image165.jpg
image166.jpg
image167.jpg
image170.jpg
image171.jpg
image172.jpg
image173.jpg
image174.jpg
image177.jpg
image178.jpg
image181.jpg
image183.jpg
image184.jpg
image185.jpg
image187.jpg
image194.jpg
image197.jpg
image198.jpg
image199.jpg
image201.jpg
image202.jpg
image204.jpg
image205.jpg
image207.jpg
image208.jpg
image209.jpg
image211.jpg
image214.jpg
image215.jpg
image216.jpg
image219.jpg
image221.jpg
image222.jpg
image225.jpg
image227.jpg
image228.jpg
image229.jpg
image230.jpg
image233.jpg
image236.jpg
image238.jpg
image239.jpg
image240.jpg
image241.jpg
image242.jpg
image244.jpg
image245.jpg
image246.jpg
image247.jpg
image249.jpg
image250.jpg
image252.jpg
image254.jpg
image257.jpg
image261.jpg
image262.jpg
image264.jpg
image265.jpg
image266.jpg
image267.jpg
image268.jpg
image269.jpg
image270.jpg
image272.jpg
image273.jpg
image274.jpg
image275.jpg
image278.jpg
image280.jpg
image281.jpg
image282.jpg
image283.jpg
image284.jpg
image285.jpg
image287.jpg
image293.jpg
image295.jpg
image296.jpg
image298.jpg
image299.jpg
image300.jpg
image301.jpg
image302.jpg
image303.jpg
image304.jpg
image305.jpg
image307.jpg
image308.jpg
image309.jpg
image311.jpg
image316.jpg
image317.jpg
image318.jpg
image319.jpg
image320.jpg
image321.jpg
image324.jpg
image325.jpg
image326.jpg
image328.jpg
image329.jpg
image330.jpg
image332.jpg
image333.jpg
image334.jpg
image335.jpg
image336.jpg
image337.jpg
image339.jpg
image340.jpg
image341.jpg
image342.jpg
image343.jpg
image344.jpg
image346.jpg
image347.jpg
image349.jpg
image351.jpg
image356.jpg
image358.jpg
image359.jpg
image361.jpg
image362.jpg
image365.jpg
image368.jpg
image369.jpg
image370.jpg
image372.jpg
image374.jpg
image375.jpg
image376.jpg
image377.jpg
image379.jpg
image382.jpg
image383.jpg
image385.jpg
image386.jpg
image387.jpg
image388.jpg
image390.jpg
image391.jpg
image393.jpg
image397.jpg
image398.jpg
image400.jpg
image402.jpg
image404.jpg
image405.jpg
image406.jpg
image407.jpg
image409.jpg
image410.jpg
image411.jpg
image412.jpg
image416.jpg
image418.jpg
image419.jpg
image422.jpg
image423.jpg
image424.jpg
image425.jpg
image426.jpg
image427.jpg
image430.jpg
image431.jpg
image432.jpg
image435.jpg
image436.jpg
image437.jpg
image438.jpg
image439.jpg
image440.jpg
image441.jpg
image442.jpg
image445.jpg
image447.jpg
image449.jpg
image452.jpg
image453.jpg
image455.jpg
image456.jpg
image457.jpg
image458.jpg
image459.jpg
image460.jpg
image461.jpg
image463.jpg
image466.jpg
image467.jpg
image468.jpg
image469.jpg
image471.jpg
image472.jpg
image473.jpg
image474.jpg
image475.jpg
image477.jpg
image480.jpg
image482.jpg
image485.jpg
image486.jpg
image487.jpg
image488.jpg
image490.jpg
image491.jpg
image493.jpg
image494.jpg
image495.jpg
image496.jpg
image498.jpg
image499.jpg
image501.jpg
image502.jpg
image503.jpg
image504.jpg
image505.jpg
image506.jpg
image509.jpg
image513.jpg
image514.jpg
image515.jpg
image516.jpg
image517.jpg
image520.jpg
image521.jpg
image522.jpg
image524.jpg
image525.jpg
image526.jpg
image527.jpg
image528.jpg
image533.jpg
image535.jpg
image536.jpg
image538.jpg
image539.jpg
image540.jpg
image541.jpg
image542.jpg
image544.jpg
image545.jpg
image546.jpg
image547.jpg
image548.jpg
image550.jpg
image553.jpg
image554.jpg
image555.jpg
image556.jpg
image557.jpg
image559.jpg
image561.jpg
image562.jpg
image564.jpg
image566.jpg
image567.jpg
image569.jpg
image570.jpg
image572.jpg
image573.jpg
image577.jpg
image580.jpg
image583.jpg
image584.jpg
image585.jpg
image586.jpg
image588.jpg
image589.jpg
image590.jpg
image595.jpg
image596.jpg
image597.jpg
image600.jpg
image601.jpg
image605.jpg
image607.jpg
image611.jpg
image614.jpg
image619.jpg
image620.jpg
image621.jpg
image622.jpg
image623.jpg
image625.jpg
image626.jpg
image627.jpg
image630.jpg
image631.jpg
image632.jpg
image633.jpg
image637.jpg
image641.jpg
image642.jpg
image643.jpg
image644.jpg
image646.jpg
image647.jpg
image649.jpg
image653.jpg
image654.jpg
image655.jpg
image657.jpg
image662.jpg
image663.jpg
image665.jpg
image668.jpg
image669.jpg
image670.jpg
image672.jpg
image674.jpg
image675.jpg
image678.jpg
image679.jpg
image680.jpg
image682.jpg
image683.jpg
image684.jpg
image685.jpg
image686.jpg
image690.jpg
image691.jpg
image693.jpg
image694.jpg
image696.jpg
image699.jpg
image700.jpg
image705.jpg
image706.jpg
image707.jpg
image710.jpg
image712.jpg
image713.jpg
image717.jpg
image718.jpg
image720.jpg
image721.jpg
image722.jpg
image723.jpg
image727.jpg
image728.jpg
image730.jpg
image732.jpg
image733.jpg
image737.jpg
image738.jpg
image739.jpg
image740.jpg
image741.jpg
image742.jpg
image743.jpg
image744.jpg
image751.jpg
image752.jpg
image753.jpg
image755.jpg
image761.jpg
image764.jpg
image765.jpg
image767.jpg
image768.jpg
image770.jpg
image772.jpg
image773.jpg
image775.jpg
image776.jpg
image777.jpg
image778.jpg
image779.jpg
image782.jpg
image783.jpg
image784.jpg
image785.jpg
image786.jpg
image787.jpg
image788.jpg
image789.jpg
image790.jpg
image791.jpg
image792.jpg
image793.jpg
image795.jpg
image796.jpg
image797.jpg
image798.jpg
image800.jpg
image801.jpg
image803.jpg
image804.jpg
image805.jpg
image806.jpg
image807.jpg
image808.jpg
image809.jpg
image810.jpg
image811.jpg
image812.jpg
image813.jpg
image814.jpg
image815.jpg
image816.jpg
image818.jpg
image820.jpg
image823.jpg
image824.jpg
image825.jpg
image826.jpg
image827.jpg
image830.jpg
image832.jpg
image834.jpg
image836.jpg
image837.jpg
image839.jpg
image840.jpg
image841.jpg
image842.jpg
image847.jpg
image848.jpg
image849.jpg
image851.jpg
image852.jpg
image853.jpg
image854.jpg
image855.jpg
image856.jpg
image857.jpg
image861.jpg
image863.jpg
image864.jpg
image865.jpg
image867.jpg
image870.jpg
image872.jpg
image874.jpg
image877.jpg
image878.jpg
image880.jpg
image881.jpg
image882.jpg
image883.jpg
image891.jpg
image895.jpg
image897.jpg
image898.jpg
image900.jpg
image901.jpg
image903.jpg
image905.jpg
image906.jpg
image907.jpg
image910.jpg
image911.jpg
image915.jpg
image916.jpg
image919.jpg
image920.jpg
image921.jpg
image922.jpg
image924.jpg
image926.jpg
image927.jpg
image929.jpg
image931.jpg
image937.jpg
image938.jpg
image939.jpg
image941.jpg
image942.jpg
image943.jpg
image944.jpg
image946.jpg
image947.jpg
image948.jpg
image950.jpg
image952.jpg
image953.jpg
image955.jpg
image956.jpg
image959.jpg
image961.jpg
image964.jpg
image965.jpg
image966.jpg
image967.jpg
image968.jpg
image969.jpg
image970.jpg
image971.jpg
image972.jpg
image973.jpg
image975.jpg
image976.jpg
image978.jpg
image980.jpg
image983.jpg
image987.jpg
image988.jpg
image991.jpg
image993.jpg
image994.jpg
image995.jpg
image996.jpg
image1000.jpg
image1002.jpg
image1003.jpg
image1006.jpg
image1008.jpg
image1011.jpg
image1012.jpg
image1013.jpg
image1016.jpg
image1017.jpg
image1018.jpg
image1019.jpg
image1021.jpg
image1022.jpg
image1024.jpg
image1026.jpg
image1028.jpg
image1030.jpg
image1031.jpg
image1033.jpg
image1034.jpg
image1036.jpg
image1037.jpg
image1038.jpg
image1041.jpg
image1042.jpg
image1045.jpg
image1046.jpg
image1047.jpg
image1049.jpg
image1051.jpg
image1053.jpg
image1057.jpg
image1058.jpg
image1059.jpg
image1061.jpg
image1062.jpg
image1063.jpg
image1064.jpg
image1066.jpg
image1068.jpg
image1069.jpg
image1071.jpg
image1072.jpg
image1073.jpg
image1074.jpg
image1075.jpg
image1076.jpg
image1078.jpg
image1079.jpg
image1080.jpg
image1081.jpg
image1082.jpg
image1083.jpg
image1085.jpg
image1086.jpg
image1087.jpg
image1089.jpg
image1091.jpg
image1092.jpg
image1093.jpg
image1095.jpg
image1097.jpg
image1099.jpg
image1102.jpg
image1103.jpg
image1105.jpg
image1106.jpg
image1107.jpg
image1108.jpg
image1110.jpg
image1111.jpg
image1113.jpg
image1115.jpg
image1116.jpg
image1125.jpg
image1127.jpg
image1129.jpg
image1133.jpg
image1134.jpg
image1135.jpg
image1137.jpg
image1138.jpg
image1139.jpg
image1141.jpg
image1142.jpg
image1143.jpg
image1146.jpg
image1147.jpg
image1149.jpg
image1150.jpg
image1154.jpg
image1155.jpg
image1156.jpg
image1158.jpg
image1159.jpg
image1163.jpg
image1164.jpg
image1165.jpg
image1166.jpg
image1167.jpg
image1168.jpg
image1169.jpg
image1170.jpg
image1171.jpg
image1172.jpg
image1173.jpg
image1174.jpg
image1175.jpg
image1176.jpg
image1177.jpg
image1178.jpg
image1179.jpg
image1181.jpg
image1182.jpg
image1183.jpg
image1184.jpg
image1185.jpg
image1187.jpg
image1190.jpg
image1193.jpg
image1194.jpg
image1196.jpg
image1197.jpg
image1199.jpg
image1200.jpg
image1202.jpg
image1203.jpg
image1204.jpg
image1206.jpg
image1207.jpg
image1208.jpg
image1209.jpg
image1211.jpg
image1212.jpg
image1217.jpg
image1218.jpg
image1219.jpg
image1220.jpg
image1221.jpg
image1222.jpg
image1223.jpg
image1231.jpg
image1232.jpg
image1233.jpg
image1234.jpg
image1235.jpg
image1239.jpg
image1240.jpg
image1241.jpg
image1242.jpg
image1243.jpg
image1244.jpg
image1246.jpg
image1247.jpg
image1251.jpg
image1252.jpg
image1255.jpg
image1256.jpg
image1257.jpg
image1258.jpg
image1259.jpg
image1261.jpg
image1262.jpg
image1263.jpg
image1266.jpg
image1268.jpg
image1270.jpg
image1271.jpg
image1272.jpg
image1273.jpg
image1274.jpg
image1278.jpg
image1279.jpg
image1284.jpg
image1285.jpg
image1286.jpg
image1287.jpg
image1288.jpg
image1289.jpg
image1290.jpg
image1291.jpg
image1293.jpg
image1295.jpg
image1296.jpg
image1297.jpg
image1299.jpg
image1300.jpg
image1307.jpg
image1308.jpg
image1311.jpg
image1312.jpg
image1313.jpg
image1314.jpg
image1315.jpg
image1316.jpg
image1317.jpg
image1319.jpg
image1320.jpg
image1321.jpg
image1323.jpg
image1324.jpg
image1328.jpg
image1329.jpg
image1332.jpg
image1333.jpg
image1335.jpg
image1336.jpg
image1339.jpg
image1342.jpg
image1345.jpg
image1347.jpg
image1348.jpg
image1350.jpg
image1352.jpg
image1353.jpg
image1354.jpg
image1355.jpg
image1357.jpg
image1358.jpg
image1359.jpg
image1362.jpg
image1365.jpg
image1366.jpg
image1367.jpg
image1368.jpg
image1369.jpg
image1370.jpg
image1372.jpg
image1373.jpg
image1374.jpg
image1375.jpg
image1376.jpg
image1377.jpg
image1380.jpg
image1381.jpg
image1383.jpg
image1384.jpg
image1385.jpg
image1387.jpg
image1388.jpg
image1389.jpg
image1391.jpg
image1392.jpg
image1395.jpg
image1396.jpg
image1397.jpg
image1398.jpg
image1399.jpg
image1401.jpg
image1402.jpg
image1403.jpg
image1405.jpg
image1407.jpg
image1408.jpg
image1413.jpg
image1414.jpg
image1415.jpg
image1417.jpg
image1418.jpg
image1420.jpg
image1423.jpg
image1426.jpg
image1427.jpg
image1428.jpg
image1429.jpg
image1430.jpg
image1433.jpg
image1436.jpg
image1438.jpg
image1439.jpg
image1440.jpg
image1441.jpg
image1442.jpg
image1443.jpg
image1445.jpg
image1446.jpg
image1447.jpg
image1448.jpg
image1449.jpg
image1450.jpg
image1452.jpg
image1453.jpg
image1455.jpg
image1456.jpg
image1457.jpg
image1459.jpg
image1460.jpg
image1462.jpg
image1463.jpg
image1464.jpg
image1465.jpg
image1466.jpg
image1467.jpg
image1471.jpg
image1473.jpg
image1474.jpg
image1475.jpg
image1476.jpg
image1478.jpg
image1479.jpg
image1480.jpg
image1481.jpg
image1483.jpg
image1485.jpg
image1486.jpg
image1487.jpg
image1489.jpg
image1494.jpg
image1495.jpg
image1496.jpg
image1497.jpg
image1498.jpg
image1501.jpg
image1502.jpg
image1503.jpg
image1505.jpg
image1506.jpg
image1507.jpg
image1508.jpg
image1509.jpg
image1510.jpg
image1511.jpg
image1512.jpg
image1513.jpg
image1516.jpg
image1518.jpg
image1519.jpg
image1520.jpg
image1521.jpg
image1523.jpg
image1524.jpg
image1526.jpg
image1527.jpg
image1530.jpg
image1531.jpg
image1534.jpg
image1535.jpg
image1536.jpg
image1538.jpg
image1540.jpg
image1541.jpg
image1542.jpg
image1545.jpg
image1546.jpg
image1547.jpg
image1548.jpg
image1549.jpg
image1550.jpg
image1551.jpg
image1552.jpg
image1553.jpg
image1554.jpg
image1555.jpg
image1556.jpg
image1557.jpg
image1558.jpg
image1560.jpg
image1561.jpg
image1562.jpg
image1563.jpg
image1565.jpg
image1568.jpg
image1572.jpg
image1573.jpg
image1577.jpg
image1578.jpg
image1580.jpg
image1582.jpg
image1585.jpg
image1586.jpg
image1588.jpg
image1590.jpg
image1591.jpg
image1592.jpg
image1593.jpg
image1594.jpg
image1595.jpg
image1597.jpg
image1598.jpg
image1599.jpg
image1600.jpg
image1602.jpg
image1603.jpg
image1604.jpg
image1605.jpg
image1608.jpg
image1609.jpg
image1610.jpg
image1611.jpg
image1612.jpg
image1614.jpg
image1615.jpg
image1617.jpg
image1618.jpg
image1619.jpg
image1623.jpg
image1624.jpg
image1625.jpg
image1630.jpg
image1632.jpg
image1633.jpg
image1636.jpg
image1637.jpg
image1638.jpg
image1639.jpg
image1640.jpg
image1641.jpg
image1643.jpg
image1644.jpg
image1645.jpg
image1646.jpg
image1647.jpg
image1648.jpg
image1650.jpg
image1651.jpg
image1652.jpg
image1653.jpg
image1654.jpg
image1655.jpg
image1656.jpg

In [377]:
tpath = '/Users/swathikakarala/Desktop/Sirihaasa/trachoma.csv'

In [378]:
tr =  pd.read_csv(tpath,
                       delimiter=',')
tr.head(20) #First 20 rows printed

                                                 path
0   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
1   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
2   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
3   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
4   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
5   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
6   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
7   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
8   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
9   /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
10  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
11  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
12  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
13  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
14  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
15  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
16  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
17  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
18  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...
19  /Users/swathikakarala/Desktop/Sirihaasa/Indepe...

In [369]:
tloc = '/Users/swathikakarala/Desktop/Sirihaasa/Independent_Study_Machine_Learning/DatasetMachineLearning_EyeDisease/Training_Dataset/trachomaDatasettfti'

In [379]:
for i in path.tr:
    print(i)

NameError: name 'path' is not defined

In [380]:
for i in tr.path:
    with open(i, 'rb') as f: #REad the file path
        data = f.read() #REad and store
    # get fine name, just eh 'image part', like image6
    img = i.split('/')[-1]
    with open(tloc+img, 'wb') as f: #Write it as file, and append location
        f.write(data)

In [ ]:
use the coe above